.c-task-main {
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 1rem;
    margin-top: 5rem;
}

.c-task-main--header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px groove #48b4b4;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.completed-task-hide {
    display: none;

}

.toggle-icon {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: center;
    margin-left: .5rem;
}

.rotate-toggle-icon {
    transform: rotate(180deg);
}